<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://d1zhhyloqq8jns.cloudfront.net/uploads/file/20210107/dzcp-cp-ca-test-v2.9.6-0107111548.ipa</string>
		
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://d1zhhyloqq8jns.cloudfront.net/uploads/image/20180607/075235_71857.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://d1zhhyloqq8jns.cloudfront.net/uploads/image/20180607/075347_48470.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>dzcp.cash.cn</string>
				<key>bundle-version</key>
				<string>2.9.6</string> 
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>Test环境</string>
				<key>title</key>
				<string>Test环境</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
